<div class="jumbotron">
	<div class="container">
		<h1><a href="http://angularjs.org" target="_blank">Angular</a> <a href="https://github.com/CaryLandholt/AngularFun" target="_blank">Fun</a></h1>
		<p>Dynamically loading dependencies in <b>dev</b>, but minimize the hell out of them for <b>prod</b>.</p>
		<p>Ping me <a href="https://twitter.com/CaryLandholt" target="_blank">{{'CaryLandholt' | twitterfy}}</a></p>
	</div>
</div>

<div class="container">
	<div class="row">
		<ng:include src="'/views/body.html'"></ng:include>
	</div>
</div>