<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Angular Fun</title>
		<meta name="description" content="AngularJS Reference Architecture" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<% if (config.environment && config.environment === 'prod') { %>
			<!--[if lte IE 8]> <script src="<%= config.getHashedFile('./.temp/scripts/ie.min.js', {trim: './.temp'}) %>"></script> <![endif]-->

			<link rel="stylesheet" href="<%= config.getHashedFile('./.temp/styles/styles.min.css', {trim: './.temp'}) %>" />
		<% } else { %>
			<!--[if lte IE 8]> <script src="/scripts/libs/json3.js"></script> <script src="/scripts/libs/html5shiv-printshiv.js"></script> <![endif]-->

			<link rel="stylesheet" href="/styles/styles.css" />
		<% } %>

		<!-- ClickJacking Defense begin (https://www.owasp.org/index.php/Clickjacking_Defense_Cheat_Sheet) -->
		<style id="antiClickjack">
			body {
				display: none !important;
			}
		</style>

		<script>
			(function (w) {
				if (w.top === w.self) {
					var a = w.document.getElementById('antiClickjack');

					a.parentNode.removeChild(a);
				} else {
					w.top.location = w.self.location;
				}
			}(window));
		</script>
		<!-- ClickJacking Defense end -->

		<!-- When you load angular at the bottom, you need to create the "ng-cloak" rules yourself -->
		<style>
			[ng\:cloak],
			[ng-cloak],
			[data-ng-cloak],
			[x-ng-cloak],
			.ng-cloak,
			.x-ng-cloak {
				display: none;
			}

			ng\:form {
				display: block;
			}
		</style>
	</head>
	<body ng-cloak class="ng-cloak">
		<ng:view></ng:view>
		<ng:include src="'/views/site.html'"></ng:include>

		<% if (config.environment && config.environment === 'prod') { %>
			<script src="<%= config.getHashedFile('./.temp/scripts/scripts.min.js', {trim: './.temp'}) %>"></script>
		<% } else { %>
			<script data-main="/scripts/main.js" src="/scripts/libs/require.js"></script>
		<% } %>
	</body>
</html>