<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]> <!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Angular Demo</title>
		<meta name="description" content="Having fun with AngularJS" />
		<meta name="viewport" content="width=device-width" />

		<% if (config.environment === 'prod') { %>
			<link rel="stylesheet" href="/styles/styles.min.css" />
			<script src="/scripts/scripts.min.js"></script>
		<% } else { %>
			<link rel="stylesheet" href="/styles/styles.css" />
			<script data-main="/scripts/main.js" src="/scripts/libs/require.js"></script>
		<% } %>
	</head>
	<body ng-cloak>
		<ng:view></ng:view>
		<div class="container">
			<div class="hero-unit">
				<h1>Playing with <a href="http://angularjs.org" target="_blank">AngularJS</a></h1>
				<p>and also <a href="http://requirejs.org/" target="_blank">RequireJS</a></p>
				<p>Dynamically loading templates.  Only getting JSON from the server.</p>
			</div>
			<div class="row">
				<div class="span8">
					<Tabs>
						<Tab data-tab-id="twitter" caption="Twitter">
							<section ng-controller="twitter">
								<div class="alert alert-info" ng-show="!searchTerm.length">
									<h4 class="alert-heading">Heads up!</h4>
									<span>Enter Twitter search criteria.</span>
								</div>

								<form class="well form-search" ng-submit="search(searchTerm)">
									<input type="text" class="input-medium search-query" ng-model="searchTerm" autofocus />
									<button type="submit" class="btn"><i class="icon-search"></i> Search</button>
								</form>

								<%= config.include('./src/scripts/partials/tweets.template') %>
							</section>
						</Tab>
						<Tab data-tab-id="gitHub" caption="GitHub">
							<section ng-controller="gitHub">
								<div class="alert alert-info" ng-show="!searchTerm.length">
									<h4 class="alert-heading">Heads up!</h4>
									<span>Enter GitHub search criteria.</span>
								</div>

								<form class="well form-search" ng-submit="search(searchTerm)">
									<input type="text" class="input-medium search-query" ng-model="searchTerm" />
									<button type="submit" class="btn"><i class="icon-search"></i> Search</button>
								</form>

								<%= config.include('./src/scripts/partials/repos.template') %>
							</section>
						</Tab>
						<Tab data-tab-id="people" caption="People">
							<div class="row">
								<div class="span4">
									<section ng-controller="people">
										<div class="alert alert-error" ng-show="!!error">
											<h4 class="alert-heading" ng-bind="error.title"></h4>
											<span ng-bind="error.message"></span>
										</div>

										<form class="well form-search" ng-submit="insertPerson(name)">
											<input type="text" class="input-medium search-query" ng-model="name" />
											<button type="submit" class="btn"><i class="icon-plus"></i> Insert</button>
											<myinput model="name" kind="text" caption="My Caption" placeholder="Enter something here" help-text="Help me out, bro!" />
										</form>

										<%= config.include('./src/scripts/partials/people.template') %>
									</section>
								</div>
								<div class="span4">
									<section ng-controller="personDetails">
										Age:  <span ng-bind="person.result.age"></span>
									</section>
								</div>
							</div>
						</Tab>
					</Tabs>
				</div>
				<div class="span4">
					<h2>Search History</h2>
					<section ng-controller="searchHistory">
						<form class="well form-search">
							<input type="text" class="input-medium search-query" placeholder="Type filter..." ng-model="query" />
							<label ng-bind-template="Displaying:  {{(searchHistory | filter:query).length}}"></label>
						</form>

						<ol ng-hide="!searchHistory.length">
							<li ng-repeat="item in searchHistory | filter:query | orderBy:'timeStamp':true" ng-bind-template="{{item.source}}/{{item.criteria}}"></li>
						</ol>
					</section>
				</div>
			</div>
		</div>
	</body>
</html>